<% provide(:title, "Dashboard-Bookings")%>
<div class="flex items-center justify-between pb-6 border-b">
  <h1 class="text-5xl font-bold text-gray-700">Booking's Dashboard</h1>
  <div>
  <h1 class="text-xl font-semibold text-gray-900">Most Booked Services</h1>
  <% if @most_booked_services.present? %>
    <% @most_booked_services.each do |service| %>
      <p>Service Name: <strong class="uppercase"><%= service.name %></strong></p>
      <p>Booking Count: <strong><%= service.bookings.count %></strong> </p>
    <% end %>
  <% else %>
    <p>No services found.</p>
  <% end %>
</div>
</div>

<div class="py-10 grid grid-cols-3 gap-6">
<%= link_to "#", class:"p-6 border shadow-xl rounded-xl block hover:shadow-lg transition ease-in duration-300 relative overflow-hidden" do %>
  <div class="h-1 w-full absolute top-0 left-0 right-0" style="background-color: #87CEEB">
  </div>
  <h3 class="font-medium text-2xl"><%= @bookings.pending.count %> pending</h3>
  <p class="text-gray-500">total number of bookings currently pending</p>
<% end %>

<%= link_to "#", class:"p-6 border shadow-xl rounded-xl block hover:shadow-lg transition ease-in duration-300 relative overflow-hidden" do %>
  <div class="h-1 w-full absolute top-0 left-0 right-0" style="background-color: #A3C1AD">
  </div>
  <h3 class="font-medium text-2xl"><%= @bookings.served.count %> served</h3>
  <p class="text-gray-500">total number of bookings currently served</p>
<% end %>

<%= link_to "#", class:"p-6 border shadow-xl rounded-xl block hover:shadow-lg transition ease-in duration-300 relative overflow-hidden" do %>
  <div class="h-1 w-full absolute top-0 left-0 right-0" style="background-color: #FFBF00">
  </div>
  <h3 class="font-medium text-2xl"><%= @bookings.cancelled.count %> cancelled</h3>
  <p class="text-gray-500">total number of bookings currently cancelled</p>
<% end %>
</div>


<% if @bookings.pending.any? %>
<h3 class="font-bold text-2xl mb-6 mt-10 pt-10 ">Pending Bookings</h3>
<table class="table-auto border-collapse border-slate-400 w-full">
<thead class="bg-slate-50 dark:bg-slate-700">
  <tr>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">id</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Status</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Name</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Price</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Service Image</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Booked Date</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Booked Time</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Booked slot(s)</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Payment method</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Booked by</th> 
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Booked last</th>   
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Action</th>         
  </tr>
</thead>

<tbody>
  <% @bookings.pending.each do |booking| %>
    <%= render "booking", booking: booking %>
  <% end %>
</tbody>
</table>
<% end%>

<% if @bookings.served.any? %>
<h3 class="font-bold text-2xl mb-6 mt-10 pt-10 ">Served Bookings</h3>
<table class="table-auto border-collapse border-slate-400 w-full">
<thead class="bg-slate-50 dark:bg-slate-700">
  <tr>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">id</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Status</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Name</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Price</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Service Image</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Booked Date</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Booked Time</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Booked slot(s)</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Payment method</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Booked by</th> 
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Booked last</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Action</th>        
  </tr>
</thead>

<tbody>
  <% @bookings.served.each do |booking| %>
    <%= render "booking", booking: booking %>
  <% end %>
</tbody>
</table>
<% end %>

<% if @bookings.cancelled.any? %>
<h3 class="font-bold text-2xl mb-6 mt-10 pt-10 ">Cancelled Bookings</h3>
<table class="table-auto border-collapse border-slate-400 w-full mb-24">
<thead class="bg-slate-50 dark:bg-slate-700">
  <tr>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">id</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Status</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Name</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Price</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Service Image</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Booked Date</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Booked Time</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Booked slot(s)</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Payment method</th>
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Booked by</th> 
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Booked last</th>  
    <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Action</th>      
  </tr>
</thead>

<tbody>
  <% @bookings.cancelled.each do |booking| %>
    <%= render "booking", booking: booking %>
  <% end %>
</tbody>
</table>
<% end %>
