<% provide(:title, "Dashboard-Categories")%>
<div class="flex items-center justify-between pb-6 border-b mb-6">
  <h1 class="text-5xl font-bold text-gray-700">Categories Dashboard</h1>
   <%= link_to "Add Category", new_category_path, class: button_class(theme: "primary")%>
</div>

<table class="table-auto border-collapse border-slate-400 w-full">
  <thead class="bg-slate-50 dark:bg-slate-700">
    <tr>
      <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">id</th>
      <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Name</th>
      <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">description</th>
      <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Image</th>
      <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Action</th>         
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <%= content_tag :tr, id: dom_id(category), class: dom_class(category) do %>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-gray-800"><%= category.id %></td>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-sky-800 underline font-bold"><%= link_to category.name, category_path(category) %></td>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-gray-800"><%= category.description.to_plain_text %></td>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-gray-800"><%= image_tag category.image, class:"w-24" %></td>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-gray-800">
          <%= link_to "edit", edit_category_path(category), class: button_class(theme: "primary") if current_user.admin? %>
          <%= link_to "delete", category, data: { turbo_method: :delete}, class: button_class(theme: "dark") if current_user.admin? %>
        </td>
      <% end %>
    <% end %>
  </tbody>
</table>