<% provide(:title, "Dashboard-Users")%>
<div class="flex items-center justify-between pb-6 border-b">
<h1 class="text-5xl font-bold text-gray-700">User's Dashboard</h1>
</div>

<table class="table-auto border-collapse border-slate-400 w-full">
  <thead class="bg-slate-50 dark:bg-slate-700">
    <tr>
      
      <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">id</th>
      <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Name</th>
      <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Email</th>
      <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Mobile Number</th>
      <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">role</th>
      <th class="border border-slate-300 dark:border-slate-600 text-gray-100 font-semibold p-4">Date Created</th>
              
        <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left"></th>
      
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <%= content_tag :tr, id: dom_id(user), class: dom_class(user) do %>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-gray-800"><%= user.id %></td>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-gray-800"><%= user.name %></td>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-gray-800"><%= user.email %></td>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-gray-800"><%= user.role %></td>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-gray-800"><%= user.mobile%></td>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-gray-800"><%= user.role %></td>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-gray-800"><%= user.created_at.strftime("%B %d, %Y %H:%M %p")%></td>
      <% end %>
    <% end %>
  </tbody>
</table>