<div id="<%= dom_id billing %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= billing.user.name %>
    <%= billing.user.email %>
    <%= billing.user.mobile %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= billing.address.street %>
    <%= billing.address.city %>
    <%= billing.address.barangay %>
    <%= billing.address.zipcode %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this billing", billing, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this billing', edit_billing_path(billing), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
